<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h1>Registered Users</h1>
    <table border="1">
        <thead>
            <tr>ID</tr>
            <tr>FIrst Name</tr>
            <tr>Last Name</tr>
            >
            <tr>Email</tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
               
                <td>{{user.email}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>